a {
	color: inherit;
	text-decoration: none;
}
/* sticky top-0 z-50 bg-white */
.navbar-container{
	/* position: sticky; */
	top: 0;
	z-index: 10000 !important;
	background: #fff;
}

.main-container {
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	width: 100%;
	margin: auto;
}


.marquee-text {
	font-size: 29px;
	font-weight: 600;
	margin: 60px 0px;
	color: #f02d34;
}

.marquee {
	position: relative;
	height: 400px;
	width: 100%;
	overflow-x: hidden;
}

.track {
	position: absolute;
	white-space: nowrap;
	will-change: transform;
	animation: marquee 15s linear infinite;
	width: 180%;
}

.track:hover {
	animation-play-state: paused;
}

@keyframes marquee {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-50%);
	}
}


.logo {
	color: gray;
	font-size: 18px;
}


.cart-item-qty {
	position: absolute;
	right: -8px;
	top: 0;
	font-size: 12px;
	color: #eee;
	background-color: #f02d34;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	text-align: center;
	font-weight: 600;
}

.product-container {
	margin-top: 15px;
	overflow: auto;
	max-height: 70vh;
	padding: 20px 10px;
}

.reviews {
	color: #f02d34;
	margin-top: 10px;
	display: flex;
	gap: 5px;
	align-items: center;
}

.reviews p {
	color: #324d67;
	margin-top: 0px;
}


@media screen and (max-width: 768px) {
	.product-container {
		margin-top: 10px;
	}
	.track {
		animation: marquee 10s linear infinite;
		width: 550%;
	}

	.main-container{
		width: 100%;
	}
}
