html,
body,
* {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 0px;
}

@tailwind base;
@import './base.css';
@tailwind components;
@tailwind utilities;

/* custome class name */
@layer components{
    .small-image{
		@apply rounded-lg bg-[#ebebeb] w-16 h-16 cursor-pointer;
	}

	.selected-image{
		@apply bg-[#f02d34];
	}

	.add-to-cart, .buy-now{
		@apply py-2 px-2 rounded-sm border-[#f02d34] border mt-10 text-xl font-medium bg-white
		text-[#f02d34] cursor-pointer w-[200px] scale-100 duration-500  ease-in hover:scale-110 md:w-[150px];
	}
}
